h1{
    text-align: center;
    line-height: 1.5;
    letter-spacing: 3px;
    text-transform: capitalize;
}
h2{
    text-align: center;
    color: #006EB6;
}
p{
    text-align: left;
}
#italic{
    text-align: left;
}
ol{
    text-align: left;
}
#content{
    max-width: 600px;
    
}
